{% if theme_var('custom_logo') %}
    {% set logo = theme_var('custom_logo') %}
    {% set logo_file = logo|first.name %}
{% else %}
    {% set logo = null %}
    {% set logo_file = 'logo.png' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive
        ?
        : grav.config.site.default_lang)|e }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>
                {% if header.title %}
                    {{ header.title|e }} |
                {% endif %}{{ site.title|e }}
            </title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport"
                content="width=device-width, initial-scale=1" />
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon"
                type="image/png"
                href="{{ url('theme://images/logo.png')|e }}" />
            <link rel="canonical" href="{{ page.canonical(true)|e }}" />
        {% endblock %}

        {% block stylesheets %}
            {% do assets.addCss(
                'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css',
                100
            ) %}
            {# {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %} #}
            {% do assets.addCss('theme://css/site.css', 99) %}
            {% do assets.addCss('theme://css/custom.css', 98) %}
        {% endblock %}

        {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
        {% endblock %}
    </head>
    <body id="top" class="{{ page.header.body_classes|e }} {% if config.theme.top_fixed.enabled %}is-fixed-top{% endif %}">
        {% block header %}
            <header>
                {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
            </header>
        {% endblock %}

        {% block body %}
            <section id="body">
                <div class="wrapper padding content">
                    {% block content %}

                    {% endblock %}
                </div>
            </section>
        {% endblock %}

        {% block footer %}
            <div class="footer text-center">
                <div class="wrapper padding">
                    <p>
                        <a href="https://getgrav.org">Grav</a> was <i class="fa fa-code">

                        </i> with <i class="fa fa-heart"></i> by <a href="https://trilby.media">
                            Trilby Media, LLC
                        </a>.
                    </p>
                </div>
            </div>
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}
        <!-- code to make mobile nav work, NEEDS TO BE REPLACED WITH CSS ONLY ALTERNATIVE -->
        <script>
            document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements

            const $navbarBurgers =
            Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'),
            0);

            // Add a click event on each of them

            $navbarBurgers.forEach( el => { el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute

            const target = el.dataset.target; const $target =
            document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the
            "navbar-menu"

            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

            }); }); });
        </script>
    </body>
</html>
