{% if hero.appearance.color %}
  {% set color = "is-" ~ hero.appearance.color %}
{% else %}
  {% set color = "is-primary" %}
{% endif %}
<section class="hero {{ color }} {% if hero.appearance.height %}is-{{hero.appearance.height}}{% endif %}">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          {% if hero.content.title %}
            {{ hero.content.title }}
          {% else %}
            {{page.title}}
          {% endif %}
        </h1>
        {% if hero.content.subtitle %}
          <p class="subtitle is-4">
            {{ hero.content.subtitle }}
          </p>
        {% endif %}
      </div>
    </div>
  </section>